# Jekyll standard config page

# theme                  : "minimal-mistakes-jekyll"
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "CMSC ###: COURSE TITLE"
title_separator          : "-"
subtitle                 : "Term YYYY"
description              : "Materials for the [term] term of [course] at Lawrence University. Taught by Acacia Ackles."
repository               : "alackles/template-course-website"
# Site Author
author:
  name: Acacia Ackles
  bio:  Visiting Assistant Professor of Computer Science at Lawrence University
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "http://alackles.github.io"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/alackles"   

# Reading Files
include:
  - _pages
  - guides
  - hwk
  - lectures
  - labs
  - quizzes
exclude:
  - Gemfile
  - LICENSE
  - README
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


defaults:
  # _pages
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false